@media screen and (min-width:180px)and (max-width: 320px) {
    body {


        margin-top: 1%;
        background-color: rgba(123, 59, 59, 0.32);
        color: black;


    }

    h1 {
        text-align: center;
        font-size: 200%;
    }

    #Cars {
        margin-top: 5%;
        font-size: 20px;
        margin-left: 18%;
        background-color: whitesmoke;
        color: rgb(21, 20, 20);
        width: 70%;
        text-align: center;
    }

    .information {
        margin-top: 1%;
        margin-left: 18%;
        padding-top: 5%;
        font-size: 10px;


    }

    input {
        font-size: 15px;
        width: 85%;
        height: 35px;
        text-align: center;
        background-color: whitesmoke;
        color: black;
    }

    .calculate {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 35px;
        margin-left: 40%;
        margin-top: 1%;

    }

    #calculate {

        font-size: 200%;
        margin-top: 2%;
        width: 80%;
        margin-left: 8%;
        background-color: rgba(147, 19, 19, 0.603);
        color: black;
        cursor: pointer;

    }

    .res {
        margin: 9%;
        font-size: 20px;
        color: rgb(8, 8, 8);
        text-align: center;
    }

}
