@media screen and (min-width:322px)and (max-width: 640px) {
    body {


        margin-top: 10%;
        background-color: rgba(114, 139, 250, 0.518);
        color: black;


    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

    #Cars {
        margin-top: 5%;
        font-size: 15px;
        margin-left: 24%;
        background-color: rgba(13, 13, 13, 0.31);
        color: rgb(21, 20, 20);
        width: 60%;
        text-align: center;
    }

    .information {
        margin-top: 1%;
        margin-left: 18%;
        padding-top: 5%;
        font-size: 30px;


    }

    input {
        font-size: 20px;
        width: 85%;
        height: 35px;
        text-align: center;
        background-color: rgb(246, 236, 236);
        color: #ebe5e5;
    }

    .calculate{
        display:flex;
        position:relative;
        width:75%
    }

    #calculate {
        font-size: 20px;
        margin-top: 1%;
        width: 61%;
        height: 25px;
        margin-left: 23%;
        background-color:rgba(0, 0, 0, 0.372);
        color: rgba(244, 242, 242, 0.553);
        cursor: pointer;

    }

    .res {
        margin: 3%;
        font-size: 20px;
        color: rgb(8, 8, 8);
        text-align: center;
    }

}
